In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

path_1='/content/drive/MyDrive/기계학습플젝_전처리코드/2015_1.csv'
data_1 = pd.read_csv(path_1, encoding='utf-8')

path_2='/content/drive/MyDrive/기계학습플젝_전처리코드/2016_1.csv'
data_2 = pd.read_csv(path_2, encoding='utf-8')

path_3='/content/drive/MyDrive/기계학습플젝_전처리코드/2017_1.csv'
data_3 = pd.read_csv(path_3, encoding='utf-8')

In [4]:
p1='/content/drive/MyDrive/기쁨코인/dataset/X_QGIS/학원/학원-2015.csv'
d1 = pd.read_csv(p1, encoding='utf-8')

p2='/content/drive/MyDrive/기쁨코인/dataset/X_QGIS/학교/학교-2015.csv'
d2 = pd.read_csv(p2, encoding='utf-8')

p3='/content/drive/MyDrive/기쁨코인/dataset/X_QGIS/카페/카페-2015.csv'
d3 = pd.read_csv(p3, encoding='utf-8')

p4='/content/drive/MyDrive/기쁨코인/dataset/X_QGIS/체련단련장/체력단련장-2015.csv'
d4 = pd.read_csv(p4, encoding='utf-8')

p5='/content/drive/MyDrive/기쁨코인/dataset/X_QGIS/의원/의원-2015.csv'
d5 = pd.read_csv(p5, encoding='utf-8')

p6='/content/drive/MyDrive/기쁨코인/dataset/X_QGIS/병원/병원-2015.csv'
d6 = pd.read_csv(p6, encoding='utf-8')

p7='/content/drive/MyDrive/기쁨코인/dataset/X_QGIS/대규모점포/대규모점포-2015.csv'
d7 = pd.read_csv(p7, encoding='utf-8')

p8='/content/drive/MyDrive/기쁨코인/dataset/X_QGIS/관광극장유흥업/관광극장유흥업-2015.csv'
d8 = pd.read_csv(p8, encoding='utf-8')

In [6]:
d1.columns

Index(['building t', 'case num', 'address', 'Latitude', 'Longitude', 'size',
       'appraiser', 'lowest', 'success', 'bid_date', '0.4km', '0.6km', '0.8km',
       '1km'],
      dtype='object')

In [9]:
col_d1=d1[['0.4km', '0.6km', '0.8km','1km']]

In [11]:
col_d1.rename(columns={'0.4km':'학원_0.4km', '0.6km':'학원_0.6km', '0.8km':'학원_0.8km','1km':'학원_1km'},inplace=True)
col_d1

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

      학원_0.4km  학원_0.6km  학원_0.8km  학원_1km
0            0         0         0       0
1            0         0         0       0
2            0         0         0       0
3            0         1         1       1
4            0         0         0       0
...        ...       ...       ...     ...
1107         0         0         0       0
1108         0         0         0       0
1109         0         0         0       0
1110         0         0         0       0
1111         0         0         0       0

[1112 rows x 4 columns]

In [12]:
data_1=pd.concat([data_1,col_d1],axis=1)
data_1

,building t,case num,address,Latitude,Longitude,size,appraiser,lowest,success,bid_date,...,음식점_1km,역세권,인터넷컴퓨터게임시설제공업_0.4km,인터넷컴퓨터게임시설제공업_0.6km,인터넷컴퓨터게임시설제공업_0.8km,인터넷컴퓨터게임시설제공업_1km,학원_0.4km,학원_0.6km,학원_0.8km,학원_1km
0,오피스텔,2015 타경 12810,서울 강남구 대치동 889-47 비동 3층 317호,37.503835,127.050223,건물 38.71㎡(11.71평) / 대지권 7.75㎡(2.34평),202000000,161600000,191100000.0,2015/12/29,...,2209,0,28,43,70,94,0,0,0,0
1,근린상가,2015 타경 179,서울 성동구 성수동2가 351 2층 203호,37.537619,127.051455,건물 61.25㎡(18.53평) / 대지권 48.18㎡(14.57평),425000000,217600000,235820000.0,2015/12/28,...,768,0,29,43,56,74,0,0,0,0
2,근린상가,2015 타경 4065,서울 광진구 구의동 546-4 테크노-마트21 5층 비066호,37.534937,127.095709,건물 11.07㎡(3.35평) / 대지권 2.93㎡(0.89평),52000000,41600000,NaN,2015/12/28,...,348,1,0,2,6,7,0,0,0,0
3,근린상가,2015 타경 5668,서울 동대문구 용두동 788 한방천하-용두동포스빌 2층 273호,37.577807,127.036898,건물 6.6㎡(2평) / 대지권 1.79㎡(0.54평),32000000,20480000,21289000.0,2015/12/28,...,1232,2,6,11,23,31,0,1,1,1
4,근린상가,2015 타경 5976,서울 성동구 옥수동 100 옥수하이츠 상가동 1층 112호,37.540118,127.016386,건물 27㎡(8.17평) / 대지권 24.72㎡(7.48평),130000000,130000000,151167100.0,2015/12/28,...,336,2,1,4,9,45,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107,오피스텔,2014 타경 14320,서울 노원구 월계동 366-3 2층 201호,37.624881,127.060288,건물 33.75㎡(10.21평) / 대지권 13.58㎡(4.11평),125000000,100000000,103700000.0,2015/01/12,...,591,0,6,10,18,25,0,0,0,0
1108,오피스텔,2014 타경 4184,서울 영등포구 양평동4가 23-7 2층 207호,37.535671,126.894746,건물 32.21㎡(9.74평) / 대지권 11.51㎡(3.48평),205000000,164000000,185500000.0,2015/01/07,...,821,1,11,16,16,22,0,0,0,0
1109,근린시설,2014 타경 3522,서울 성동구 마장동 767-27,37.568139,127.045086,건물 145.77㎡(44.1평) / 토지 99.8㎡(30.19평) / 제시외 71.2 ㎡,406059600,259878000,339555000.0,2015/01/05,...,750,1,5,15,40,46,0,0,0,0
1110,오피스텔,2014 타경 5955,서울 송파구 잠실동 175-1 10층 1005호,37.510752,127.078933,건물 33.92㎡(10.26평) / 대지권 8.26㎡(2.5평),160000000,128000000,141000000.0,2015/01/05,...,941,2,21,23,33,36,0,0,0,0
1111,근린상가,2014 타경 7623,서울 송파구 가락동 75 2층 201 호,37.496290,127.120726,건물 245.44㎡(74.25평),230000000,230000000,NaN,2015/07/06,...,963,3,12,28,33,40,0,0,0,0

In [14]:
col=d2[['0.4km', '0.6km', '0.8km','1km']]

In [16]:
col.rename(columns={'0.4km':'학교_0.4km', '0.6km':'학교_0.6km', '0.8km':'학교_0.8km','1km':'학교_1km'},inplace=True)
col

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

      학교_0.4km  학교_0.6km  학교_0.8km  학교_1km
0            3         3         4       6
1            2         3         8       8
2            0         1         4       9
3            0         1         3       8
4            1         4         6       8
...        ...       ...       ...     ...
1107         0         3         5      12
1108         3         6         9      10
1109         2         7         8      12
1110         0         2         7       8
1111         0         3         7      13

[1112 rows x 4 columns]

In [17]:
data_1=pd.concat([data_1,col],axis=1)
data_1

,building t,case num,address,Latitude,Longitude,size,appraiser,lowest,success,bid_date,...,인터넷컴퓨터게임시설제공업_0.8km,인터넷컴퓨터게임시설제공업_1km,학원_0.4km,학원_0.6km,학원_0.8km,학원_1km,학교_0.4km,학교_0.6km,학교_0.8km,학교_1km
0,오피스텔,2015 타경 12810,서울 강남구 대치동 889-47 비동 3층 317호,37.503835,127.050223,건물 38.71㎡(11.71평) / 대지권 7.75㎡(2.34평),202000000,161600000,191100000.0,2015/12/29,...,70,94,0,0,0,0,3,3,4,6
1,근린상가,2015 타경 179,서울 성동구 성수동2가 351 2층 203호,37.537619,127.051455,건물 61.25㎡(18.53평) / 대지권 48.18㎡(14.57평),425000000,217600000,235820000.0,2015/12/28,...,56,74,0,0,0,0,2,3,8,8
2,근린상가,2015 타경 4065,서울 광진구 구의동 546-4 테크노-마트21 5층 비066호,37.534937,127.095709,건물 11.07㎡(3.35평) / 대지권 2.93㎡(0.89평),52000000,41600000,NaN,2015/12/28,...,6,7,0,0,0,0,0,1,4,9
3,근린상가,2015 타경 5668,서울 동대문구 용두동 788 한방천하-용두동포스빌 2층 273호,37.577807,127.036898,건물 6.6㎡(2평) / 대지권 1.79㎡(0.54평),32000000,20480000,21289000.0,2015/12/28,...,23,31,0,1,1,1,0,1,3,8
4,근린상가,2015 타경 5976,서울 성동구 옥수동 100 옥수하이츠 상가동 1층 112호,37.540118,127.016386,건물 27㎡(8.17평) / 대지권 24.72㎡(7.48평),130000000,130000000,151167100.0,2015/12/28,...,9,45,0,0,0,0,1,4,6,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107,오피스텔,2014 타경 14320,서울 노원구 월계동 366-3 2층 201호,37.624881,127.060288,건물 33.75㎡(10.21평) / 대지권 13.58㎡(4.11평),125000000,100000000,103700000.0,2015/01/12,...,18,25,0,0,0,0,0,3,5,12
1108,오피스텔,2014 타경 4184,서울 영등포구 양평동4가 23-7 2층 207호,37.535671,126.894746,건물 32.21㎡(9.74평) / 대지권 11.51㎡(3.48평),205000000,164000000,185500000.0,2015/01/07,...,16,22,0,0,0,0,3,6,9,10
1109,근린시설,2014 타경 3522,서울 성동구 마장동 767-27,37.568139,127.045086,건물 145.77㎡(44.1평) / 토지 99.8㎡(30.19평) / 제시외 71.2 ㎡,406059600,259878000,339555000.0,2015/01/05,...,40,46,0,0,0,0,2,7,8,12
1110,오피스텔,2014 타경 5955,서울 송파구 잠실동 175-1 10층 1005호,37.510752,127.078933,건물 33.92㎡(10.26평) / 대지권 8.26㎡(2.5평),160000000,128000000,141000000.0,2015/01/05,...,33,36,0,0,0,0,0,2,7,8
1111,근린상가,2014 타경 7623,서울 송파구 가락동 75 2층 201 호,37.496290,127.120726,건물 245.44㎡(74.25평),230000000,230000000,NaN,2015/07/06,...,33,40,0,0,0,0,0,3,7,13

In [18]:
col=d3[['0.4km', '0.6km', '0.8km','1km']]

In [19]:
col.rename(columns={'0.4km':'카페_0.4km', '0.6km':'카페_0.6km', '0.8km':'카페_0.8km','1km':'카페_1km'},inplace=True)
col

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

      카페_0.4km  카페_0.6km  카페_0.8km  카페_1km
0           32        45        75      99
1           12        21        27      38
2            6        12        30      33
3            9        16        41      67
4            5         7        16      23
...        ...       ...       ...     ...
1107        10        13        21      44
1108        26        49        62      81
1109         3         9        22      32
1110        21        34        40      49
1111        11        29        44      60

[1112 rows x 4 columns]

In [20]:
data_1=pd.concat([data_1,col],axis=1)
data_1

,building t,case num,address,Latitude,Longitude,size,appraiser,lowest,success,bid_date,...,학원_0.8km,학원_1km,학교_0.4km,학교_0.6km,학교_0.8km,학교_1km,카페_0.4km,카페_0.6km,카페_0.8km,카페_1km
0,오피스텔,2015 타경 12810,서울 강남구 대치동 889-47 비동 3층 317호,37.503835,127.050223,건물 38.71㎡(11.71평) / 대지권 7.75㎡(2.34평),202000000,161600000,191100000.0,2015/12/29,...,0,0,3,3,4,6,32,45,75,99
1,근린상가,2015 타경 179,서울 성동구 성수동2가 351 2층 203호,37.537619,127.051455,건물 61.25㎡(18.53평) / 대지권 48.18㎡(14.57평),425000000,217600000,235820000.0,2015/12/28,...,0,0,2,3,8,8,12,21,27,38
2,근린상가,2015 타경 4065,서울 광진구 구의동 546-4 테크노-마트21 5층 비066호,37.534937,127.095709,건물 11.07㎡(3.35평) / 대지권 2.93㎡(0.89평),52000000,41600000,NaN,2015/12/28,...,0,0,0,1,4,9,6,12,30,33
3,근린상가,2015 타경 5668,서울 동대문구 용두동 788 한방천하-용두동포스빌 2층 273호,37.577807,127.036898,건물 6.6㎡(2평) / 대지권 1.79㎡(0.54평),32000000,20480000,21289000.0,2015/12/28,...,1,1,0,1,3,8,9,16,41,67
4,근린상가,2015 타경 5976,서울 성동구 옥수동 100 옥수하이츠 상가동 1층 112호,37.540118,127.016386,건물 27㎡(8.17평) / 대지권 24.72㎡(7.48평),130000000,130000000,151167100.0,2015/12/28,...,0,0,1,4,6,8,5,7,16,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107,오피스텔,2014 타경 14320,서울 노원구 월계동 366-3 2층 201호,37.624881,127.060288,건물 33.75㎡(10.21평) / 대지권 13.58㎡(4.11평),125000000,100000000,103700000.0,2015/01/12,...,0,0,0,3,5,12,10,13,21,44
1108,오피스텔,2014 타경 4184,서울 영등포구 양평동4가 23-7 2층 207호,37.535671,126.894746,건물 32.21㎡(9.74평) / 대지권 11.51㎡(3.48평),205000000,164000000,185500000.0,2015/01/07,...,0,0,3,6,9,10,26,49,62,81
1109,근린시설,2014 타경 3522,서울 성동구 마장동 767-27,37.568139,127.045086,건물 145.77㎡(44.1평) / 토지 99.8㎡(30.19평) / 제시외 71.2 ㎡,406059600,259878000,339555000.0,2015/01/05,...,0,0,2,7,8,12,3,9,22,32
1110,오피스텔,2014 타경 5955,서울 송파구 잠실동 175-1 10층 1005호,37.510752,127.078933,건물 33.92㎡(10.26평) / 대지권 8.26㎡(2.5평),160000000,128000000,141000000.0,2015/01/05,...,0,0,0,2,7,8,21,34,40,49
1111,근린상가,2014 타경 7623,서울 송파구 가락동 75 2층 201 호,37.496290,127.120726,건물 245.44㎡(74.25평),230000000,230000000,NaN,2015/07/06,...,0,0,0,3,7,13,11,29,44,60

In [22]:
col=d4[['0.4km', '0.6km', '0.8km','1km']]

In [23]:
col.rename(columns={'0.4km':'체력단련장_0.4km', '0.6km':'체력단련장_0.6km', '0.8km':'체력단련장_0.8km','1km':'체력단련장_1km'},inplace=True)
col

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

      체력단련장_0.4km  체력단련장_0.6km  체력단련장_0.8km  체력단련장_1km
0              15           25           44         57
1               2            4            7         13
2               1            3           14         15
3               6            6            9         14
4               1            2            5          6
...           ...          ...          ...        ...
1107            1            2            4          7
1108            5           11           12         16
1109            0            4            7         10
1110           13           21           26         33
1111            6           16           25         29

[1112 rows x 4 columns]

In [24]:
data_1=pd.concat([data_1,col],axis=1)
data_1

,building t,case num,address,Latitude,Longitude,size,appraiser,lowest,success,bid_date,...,학교_0.8km,학교_1km,카페_0.4km,카페_0.6km,카페_0.8km,카페_1km,체력단련장_0.4km,체력단련장_0.6km,체력단련장_0.8km,체력단련장_1km
0,오피스텔,2015 타경 12810,서울 강남구 대치동 889-47 비동 3층 317호,37.503835,127.050223,건물 38.71㎡(11.71평) / 대지권 7.75㎡(2.34평),202000000,161600000,191100000.0,2015/12/29,...,4,6,32,45,75,99,15,25,44,57
1,근린상가,2015 타경 179,서울 성동구 성수동2가 351 2층 203호,37.537619,127.051455,건물 61.25㎡(18.53평) / 대지권 48.18㎡(14.57평),425000000,217600000,235820000.0,2015/12/28,...,8,8,12,21,27,38,2,4,7,13
2,근린상가,2015 타경 4065,서울 광진구 구의동 546-4 테크노-마트21 5층 비066호,37.534937,127.095709,건물 11.07㎡(3.35평) / 대지권 2.93㎡(0.89평),52000000,41600000,NaN,2015/12/28,...,4,9,6,12,30,33,1,3,14,15
3,근린상가,2015 타경 5668,서울 동대문구 용두동 788 한방천하-용두동포스빌 2층 273호,37.577807,127.036898,건물 6.6㎡(2평) / 대지권 1.79㎡(0.54평),32000000,20480000,21289000.0,2015/12/28,...,3,8,9,16,41,67,6,6,9,14
4,근린상가,2015 타경 5976,서울 성동구 옥수동 100 옥수하이츠 상가동 1층 112호,37.540118,127.016386,건물 27㎡(8.17평) / 대지권 24.72㎡(7.48평),130000000,130000000,151167100.0,2015/12/28,...,6,8,5,7,16,23,1,2,5,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107,오피스텔,2014 타경 14320,서울 노원구 월계동 366-3 2층 201호,37.624881,127.060288,건물 33.75㎡(10.21평) / 대지권 13.58㎡(4.11평),125000000,100000000,103700000.0,2015/01/12,...,5,12,10,13,21,44,1,2,4,7
1108,오피스텔,2014 타경 4184,서울 영등포구 양평동4가 23-7 2층 207호,37.535671,126.894746,건물 32.21㎡(9.74평) / 대지권 11.51㎡(3.48평),205000000,164000000,185500000.0,2015/01/07,...,9,10,26,49,62,81,5,11,12,16
1109,근린시설,2014 타경 3522,서울 성동구 마장동 767-27,37.568139,127.045086,건물 145.77㎡(44.1평) / 토지 99.8㎡(30.19평) / 제시외 71.2 ㎡,406059600,259878000,339555000.0,2015/01/05,...,8,12,3,9,22,32,0,4,7,10
1110,오피스텔,2014 타경 5955,서울 송파구 잠실동 175-1 10층 1005호,37.510752,127.078933,건물 33.92㎡(10.26평) / 대지권 8.26㎡(2.5평),160000000,128000000,141000000.0,2015/01/05,...,7,8,21,34,40,49,13,21,26,33
1111,근린상가,2014 타경 7623,서울 송파구 가락동 75 2층 201 호,37.496290,127.120726,건물 245.44㎡(74.25평),230000000,230000000,NaN,2015/07/06,...,7,13,11,29,44,60,6,16,25,29

In [25]:
col=d5[['0.4km', '0.6km', '0.8km','1km']]

In [26]:
col.rename(columns={'0.4km':'의원_0.4km', '0.6km':'의원_0.6km', '0.8km':'의원_0.8km','1km':'의원_1km'},inplace=True)
col

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

      의원_0.4km  의원_0.6km  의원_0.8km  의원_1km
0           83       154       284     357
1           24        25        42      66
2           13        24        70      78
3          120       157       190     238
4           12        22        34      84
...        ...       ...       ...     ...
1107        15        19        35      75
1108        37        75       122     156
1109         8        26        80      98
1110       120       171       184     203
1111        24        58       110     146

[1112 rows x 4 columns]

In [27]:
data_1=pd.concat([data_1,col],axis=1)
data_1

,building t,case num,address,Latitude,Longitude,size,appraiser,lowest,success,bid_date,...,카페_0.8km,카페_1km,체력단련장_0.4km,체력단련장_0.6km,체력단련장_0.8km,체력단련장_1km,의원_0.4km,의원_0.6km,의원_0.8km,의원_1km
0,오피스텔,2015 타경 12810,서울 강남구 대치동 889-47 비동 3층 317호,37.503835,127.050223,건물 38.71㎡(11.71평) / 대지권 7.75㎡(2.34평),202000000,161600000,191100000.0,2015/12/29,...,75,99,15,25,44,57,83,154,284,357
1,근린상가,2015 타경 179,서울 성동구 성수동2가 351 2층 203호,37.537619,127.051455,건물 61.25㎡(18.53평) / 대지권 48.18㎡(14.57평),425000000,217600000,235820000.0,2015/12/28,...,27,38,2,4,7,13,24,25,42,66
2,근린상가,2015 타경 4065,서울 광진구 구의동 546-4 테크노-마트21 5층 비066호,37.534937,127.095709,건물 11.07㎡(3.35평) / 대지권 2.93㎡(0.89평),52000000,41600000,NaN,2015/12/28,...,30,33,1,3,14,15,13,24,70,78
3,근린상가,2015 타경 5668,서울 동대문구 용두동 788 한방천하-용두동포스빌 2층 273호,37.577807,127.036898,건물 6.6㎡(2평) / 대지권 1.79㎡(0.54평),32000000,20480000,21289000.0,2015/12/28,...,41,67,6,6,9,14,120,157,190,238
4,근린상가,2015 타경 5976,서울 성동구 옥수동 100 옥수하이츠 상가동 1층 112호,37.540118,127.016386,건물 27㎡(8.17평) / 대지권 24.72㎡(7.48평),130000000,130000000,151167100.0,2015/12/28,...,16,23,1,2,5,6,12,22,34,84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107,오피스텔,2014 타경 14320,서울 노원구 월계동 366-3 2층 201호,37.624881,127.060288,건물 33.75㎡(10.21평) / 대지권 13.58㎡(4.11평),125000000,100000000,103700000.0,2015/01/12,...,21,44,1,2,4,7,15,19,35,75
1108,오피스텔,2014 타경 4184,서울 영등포구 양평동4가 23-7 2층 207호,37.535671,126.894746,건물 32.21㎡(9.74평) / 대지권 11.51㎡(3.48평),205000000,164000000,185500000.0,2015/01/07,...,62,81,5,11,12,16,37,75,122,156
1109,근린시설,2014 타경 3522,서울 성동구 마장동 767-27,37.568139,127.045086,건물 145.77㎡(44.1평) / 토지 99.8㎡(30.19평) / 제시외 71.2 ㎡,406059600,259878000,339555000.0,2015/01/05,...,22,32,0,4,7,10,8,26,80,98
1110,오피스텔,2014 타경 5955,서울 송파구 잠실동 175-1 10층 1005호,37.510752,127.078933,건물 33.92㎡(10.26평) / 대지권 8.26㎡(2.5평),160000000,128000000,141000000.0,2015/01/05,...,40,49,13,21,26,33,120,171,184,203
1111,근린상가,2014 타경 7623,서울 송파구 가락동 75 2층 201 호,37.496290,127.120726,건물 245.44㎡(74.25평),230000000,230000000,NaN,2015/07/06,...,44,60,6,16,25,29,24,58,110,146

In [28]:
col=d6[['0.4km', '0.6km', '0.8km','1km']]

In [29]:
col.rename(columns={'0.4km':'병원_0.4km', '0.6km':'병원_0.6km', '0.8km':'병원_0.8km','1km':'병원_1km'},inplace=True)
col

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

      병원_0.4km  병원_0.6km  병원_0.8km  병원_1km
0            4         5         6       9
1            0         0         0       3
2            0         0         0       0
3            3         4         5       8
4            0         0         0       0
...        ...       ...       ...     ...
1107         0         0         0       0
1108         1         2         2       7
1109         1         1         1       5
1110         1         1         1       1
1111         5         6         7       8

[1112 rows x 4 columns]

In [30]:
data_1=pd.concat([data_1,col],axis=1)
data_1

,building t,case num,address,Latitude,Longitude,size,appraiser,lowest,success,bid_date,...,체력단련장_0.8km,체력단련장_1km,의원_0.4km,의원_0.6km,의원_0.8km,의원_1km,병원_0.4km,병원_0.6km,병원_0.8km,병원_1km
0,오피스텔,2015 타경 12810,서울 강남구 대치동 889-47 비동 3층 317호,37.503835,127.050223,건물 38.71㎡(11.71평) / 대지권 7.75㎡(2.34평),202000000,161600000,191100000.0,2015/12/29,...,44,57,83,154,284,357,4,5,6,9
1,근린상가,2015 타경 179,서울 성동구 성수동2가 351 2층 203호,37.537619,127.051455,건물 61.25㎡(18.53평) / 대지권 48.18㎡(14.57평),425000000,217600000,235820000.0,2015/12/28,...,7,13,24,25,42,66,0,0,0,3
2,근린상가,2015 타경 4065,서울 광진구 구의동 546-4 테크노-마트21 5층 비066호,37.534937,127.095709,건물 11.07㎡(3.35평) / 대지권 2.93㎡(0.89평),52000000,41600000,NaN,2015/12/28,...,14,15,13,24,70,78,0,0,0,0
3,근린상가,2015 타경 5668,서울 동대문구 용두동 788 한방천하-용두동포스빌 2층 273호,37.577807,127.036898,건물 6.6㎡(2평) / 대지권 1.79㎡(0.54평),32000000,20480000,21289000.0,2015/12/28,...,9,14,120,157,190,238,3,4,5,8
4,근린상가,2015 타경 5976,서울 성동구 옥수동 100 옥수하이츠 상가동 1층 112호,37.540118,127.016386,건물 27㎡(8.17평) / 대지권 24.72㎡(7.48평),130000000,130000000,151167100.0,2015/12/28,...,5,6,12,22,34,84,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107,오피스텔,2014 타경 14320,서울 노원구 월계동 366-3 2층 201호,37.624881,127.060288,건물 33.75㎡(10.21평) / 대지권 13.58㎡(4.11평),125000000,100000000,103700000.0,2015/01/12,...,4,7,15,19,35,75,0,0,0,0
1108,오피스텔,2014 타경 4184,서울 영등포구 양평동4가 23-7 2층 207호,37.535671,126.894746,건물 32.21㎡(9.74평) / 대지권 11.51㎡(3.48평),205000000,164000000,185500000.0,2015/01/07,...,12,16,37,75,122,156,1,2,2,7
1109,근린시설,2014 타경 3522,서울 성동구 마장동 767-27,37.568139,127.045086,건물 145.77㎡(44.1평) / 토지 99.8㎡(30.19평) / 제시외 71.2 ㎡,406059600,259878000,339555000.0,2015/01/05,...,7,10,8,26,80,98,1,1,1,5
1110,오피스텔,2014 타경 5955,서울 송파구 잠실동 175-1 10층 1005호,37.510752,127.078933,건물 33.92㎡(10.26평) / 대지권 8.26㎡(2.5평),160000000,128000000,141000000.0,2015/01/05,...,26,33,120,171,184,203,1,1,1,1
1111,근린상가,2014 타경 7623,서울 송파구 가락동 75 2층 201 호,37.496290,127.120726,건물 245.44㎡(74.25평),230000000,230000000,NaN,2015/07/06,...,25,29,24,58,110,146,5,6,7,8

In [31]:
col=d7[['0.4km', '0.6km', '0.8km','1km']]

In [32]:
col.rename(columns={'0.4km':'대규모점포_0.4km', '0.6km':'대규모점포_0.6km', '0.8km':'대규모점포_0.8km','1km':'대규모점포_1km'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [33]:
data_1=pd.concat([data_1,col],axis=1)
data_1

,building t,case num,address,Latitude,Longitude,size,appraiser,lowest,success,bid_date,...,의원_0.8km,의원_1km,병원_0.4km,병원_0.6km,병원_0.8km,병원_1km,대규모점포_0.4km,대규모점포_0.6km,대규모점포_0.8km,대규모점포_1km
0,오피스텔,2015 타경 12810,서울 강남구 대치동 889-47 비동 3층 317호,37.503835,127.050223,건물 38.71㎡(11.71평) / 대지권 7.75㎡(2.34평),202000000,161600000,191100000.0,2015/12/29,...,284,357,4,5,6,9,1,1,7,10
1,근린상가,2015 타경 179,서울 성동구 성수동2가 351 2층 203호,37.537619,127.051455,건물 61.25㎡(18.53평) / 대지권 48.18㎡(14.57평),425000000,217600000,235820000.0,2015/12/28,...,42,66,0,0,0,3,2,2,3,4
2,근린상가,2015 타경 4065,서울 광진구 구의동 546-4 테크노-마트21 5층 비066호,37.534937,127.095709,건물 11.07㎡(3.35평) / 대지권 2.93㎡(0.89평),52000000,41600000,NaN,2015/12/28,...,70,78,0,0,0,0,3,6,8,8
3,근린상가,2015 타경 5668,서울 동대문구 용두동 788 한방천하-용두동포스빌 2층 273호,37.577807,127.036898,건물 6.6㎡(2평) / 대지권 1.79㎡(0.54평),32000000,20480000,21289000.0,2015/12/28,...,190,238,3,4,5,8,7,9,12,15
4,근린상가,2015 타경 5976,서울 성동구 옥수동 100 옥수하이츠 상가동 1층 112호,37.540118,127.016386,건물 27㎡(8.17평) / 대지권 24.72㎡(7.48평),130000000,130000000,151167100.0,2015/12/28,...,34,84,0,0,0,0,1,2,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107,오피스텔,2014 타경 14320,서울 노원구 월계동 366-3 2층 201호,37.624881,127.060288,건물 33.75㎡(10.21평) / 대지권 13.58㎡(4.11평),125000000,100000000,103700000.0,2015/01/12,...,35,75,0,0,0,0,3,3,3,5
1108,오피스텔,2014 타경 4184,서울 영등포구 양평동4가 23-7 2층 207호,37.535671,126.894746,건물 32.21㎡(9.74평) / 대지권 11.51㎡(3.48평),205000000,164000000,185500000.0,2015/01/07,...,122,156,1,2,2,7,1,1,1,4
1109,근린시설,2014 타경 3522,서울 성동구 마장동 767-27,37.568139,127.045086,건물 145.77㎡(44.1평) / 토지 99.8㎡(30.19평) / 제시외 71.2 ㎡,406059600,259878000,339555000.0,2015/01/05,...,80,98,1,1,1,5,0,1,3,5
1110,오피스텔,2014 타경 5955,서울 송파구 잠실동 175-1 10층 1005호,37.510752,127.078933,건물 33.92㎡(10.26평) / 대지권 8.26㎡(2.5평),160000000,128000000,141000000.0,2015/01/05,...,184,203,1,1,1,1,1,2,2,3
1111,근린상가,2014 타경 7623,서울 송파구 가락동 75 2층 201 호,37.496290,127.120726,건물 245.44㎡(74.25평),230000000,230000000,NaN,2015/07/06,...,110,146,5,6,7,8,0,3,4,6

In [34]:
col=d8[['0.4km', '0.6km', '0.8km','1km']]

In [35]:
col.rename(columns={'0.4km':'관광극장유흥업_0.4km', '0.6km':'관광극장유흥업_0.6km', '0.8km':'관광극장유흥업_0.8km','1km':'관광극장유흥업_1km'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [36]:
data_1=pd.concat([data_1,col],axis=1)
data_1

,building t,case num,address,Latitude,Longitude,size,appraiser,lowest,success,bid_date,...,병원_0.8km,병원_1km,대규모점포_0.4km,대규모점포_0.6km,대규모점포_0.8km,대규모점포_1km,관광극장유흥업_0.4km,관광극장유흥업_0.6km,관광극장유흥업_0.8km,관광극장유흥업_1km
0,오피스텔,2015 타경 12810,서울 강남구 대치동 889-47 비동 3층 317호,37.503835,127.050223,건물 38.71㎡(11.71평) / 대지권 7.75㎡(2.34평),202000000,161600000,191100000.0,2015/12/29,...,6,9,1,1,7,10,0,0,0,0
1,근린상가,2015 타경 179,서울 성동구 성수동2가 351 2층 203호,37.537619,127.051455,건물 61.25㎡(18.53평) / 대지권 48.18㎡(14.57평),425000000,217600000,235820000.0,2015/12/28,...,0,3,2,2,3,4,0,0,0,0
2,근린상가,2015 타경 4065,서울 광진구 구의동 546-4 테크노-마트21 5층 비066호,37.534937,127.095709,건물 11.07㎡(3.35평) / 대지권 2.93㎡(0.89평),52000000,41600000,NaN,2015/12/28,...,0,0,3,6,8,8,0,0,0,0
3,근린상가,2015 타경 5668,서울 동대문구 용두동 788 한방천하-용두동포스빌 2층 273호,37.577807,127.036898,건물 6.6㎡(2평) / 대지권 1.79㎡(0.54평),32000000,20480000,21289000.0,2015/12/28,...,5,8,7,9,12,15,0,0,0,0
4,근린상가,2015 타경 5976,서울 성동구 옥수동 100 옥수하이츠 상가동 1층 112호,37.540118,127.016386,건물 27㎡(8.17평) / 대지권 24.72㎡(7.48평),130000000,130000000,151167100.0,2015/12/28,...,0,0,1,2,2,3,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107,오피스텔,2014 타경 14320,서울 노원구 월계동 366-3 2층 201호,37.624881,127.060288,건물 33.75㎡(10.21평) / 대지권 13.58㎡(4.11평),125000000,100000000,103700000.0,2015/01/12,...,0,0,3,3,3,5,0,0,0,0
1108,오피스텔,2014 타경 4184,서울 영등포구 양평동4가 23-7 2층 207호,37.535671,126.894746,건물 32.21㎡(9.74평) / 대지권 11.51㎡(3.48평),205000000,164000000,185500000.0,2015/01/07,...,2,7,1,1,1,4,0,0,0,0
1109,근린시설,2014 타경 3522,서울 성동구 마장동 767-27,37.568139,127.045086,건물 145.77㎡(44.1평) / 토지 99.8㎡(30.19평) / 제시외 71.2 ㎡,406059600,259878000,339555000.0,2015/01/05,...,1,5,0,1,3,5,0,0,0,0
1110,오피스텔,2014 타경 5955,서울 송파구 잠실동 175-1 10층 1005호,37.510752,127.078933,건물 33.92㎡(10.26평) / 대지권 8.26㎡(2.5평),160000000,128000000,141000000.0,2015/01/05,...,1,1,1,2,2,3,2,2,2,2
1111,근린상가,2014 타경 7623,서울 송파구 가락동 75 2층 201 호,37.496290,127.120726,건물 245.44㎡(74.25평),230000000,230000000,NaN,2015/07/06,...,7,8,0,3,4,6,0,0,0,0

In [37]:
data_2015=data_1.copy()

In [39]:
# 이름 수정해서 저장
data_2015.to_csv('/content/drive/MyDrive/기계학습플젝_전처리코드/table_2015.csv', encoding='utf-8')