In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

https://hianna.tistory.com/360

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# 참고로 이 코드는 15 16 17 평균값을 따로 계산하여, 주말도 따로 떼어서 총 6개의 데이터 프레임을 만들고 있습니다. 
# 3개년도 총 평균을 계산해서 주말과 평일 둘 다를 하나의 데이터프레임에 집어넣는 코드도 아래에 있어요.

year_list = "2015", "2016", "2017"
name_list = df_weekend['버스정류장ARS번호'].unique()

for year in year_list:
    df = pd.read_csv('/content/drive/MyDrive/기쁨코인/dataset/버스붕붕.zip (Unzipped Files)/주중-주말-승하차객/BUS_filte_'+year+'.csv', 
                    names=['주차', '버스정류장ARS번호', '역명', '승차총승객수', '하차총승객수', 'latitude', 'longitude', '주말 여부']
                    )
    df = df.drop(columns = ['역명']) # 버스 정류장 이름에 중복된 속성이 많아서 쓸 수 없음. 예를들어 "소방소앞" 정류장은 4개나 있어요. 따라서 버립니다.

    # 승하차 인원은 주말 여부에 따라 다를 것 같아서 따로 취급합니다.

    # 주말
    df_weekend = df[df['주말 여부']==True]
    df_weekend_mean = pd.DataFrame(columns=['버스정류장ARS번호', '승차총승객수', '하차총승객수', 'longitude', 'latitude']) # 평균값을 기록하기 위한 데이터 프레임
    ARS_list = df_weekend['버스정류장ARS번호'].unique() # ARS 코드 리스트

    for i, ARS in enumerate(name_list): 
        # 평균값 기록
        
        get_in = df_weekend[df_weekend['버스정류장ARS번호']==ARS]['승차총승객수'].mean() # 일주일 간 승차 총 승객수 평균값
        get_off = df_weekend[df_weekend['버스정류장ARS번호']==ARS]['하차총승객수'].mean() # 일주일 간 하차 총 승객수 평균값
        longitude = np.float64(df_weekend[df_weekend['버스정류장ARS번호']==ARS_list[i]]['longitude'].unique()) # 버스 정류장의 longitude
        latitude = np.float64(df_weekend[df_weekend['버스정류장ARS번호']==ARS_list[i]]['latitude'].unique()) # 버스 정류장의 latitude
        df_weekend_mean.loc[i, ['버스정류장ARS번호', '승차총승객수', '하차총승객수', 'longitude', 'latitude']] = ARS, get_in, get_off, longitude, latitude
        print(i, ARS, "has been done")

    # 평일
    df_not_weekend = df[df['주말 여부']==False]
    df_not_weekend_mean = pd.DataFrame(columns=['버스정류장ARS번호', '승차총승객수', '하차총승객수', 'longitude', 'latitude'])
    ARS_list = df_not_weekend['버스정류장ARS번호'].unique()

    for i, ARS in enumerate(name_list):
        # 평균값 기록

        get_in = df_not_weekend[df_not_weekend['버스정류장ARS번호']==ARS]['승차총승객수'].mean()
        get_off = df_not_weekend[df_not_weekend['버스정류장ARS번호']==ARS]['하차총승객수'].mean()
        longitude = np.float64(df_not_weekend[df_not_weekend['버스정류장ARS번호']==ARS_list[i]]['longitude'].unique())
        latitude = np.float64(df_not_weekend[df_not_weekend['버스정류장ARS번호']==ARS_list[i]]['latitude'].unique())
        df_not_weekend_mean.loc[i, ['버스정류장ARS번호', '승차총승객수', '하차총승객수', 'longitude', 'latitude']] = ARS, get_in, get_off, longitude, latitude
        print(i, ARS, "has been done")

    df_weekend_mean.to_csv("/content/drive/MyDrive/기쁨코인/dataset/X_attributes_final/BUS/평일버스승하차인원_"+year+".csv") # csv로 내보내기
    df_not_weekend_mean.to_csv("/content/drive/MyDrive/기쁨코인/dataset/X_attributes_final/BUS/주말버스승하차인원_"+year+".csv")

In [ ]:
# 3개년도 승하차 평균 개수를 계산합니다.

# 버스 "주중-주말-승하차객" 데이터에 column name이 없습니다. 따라서 아래 names 속성을 꼭 붙여주세요.
df_2015 = pd.read_csv('/content/drive/MyDrive/기쁨코인/dataset/버스붕붕.zip (Unzipped Files)/주중-주말-승하차객/BUS_filte_2015.csv', 
                    names=['주차', '버스정류장ARS번호', '역명', '승차총승객수', '하차총승객수', 'latitude', 'longitude', '주말 여부']
                    )
df_2016 = pd.read_csv('/content/drive/MyDrive/기쁨코인/dataset/버스붕붕.zip (Unzipped Files)/주중-주말-승하차객/BUS_filte_2016.csv', 
                    names=['주차', '버스정류장ARS번호', '역명', '승차총승객수', '하차총승객수', 'latitude', 'longitude', '주말 여부']
                    )
df_2017 = pd.read_csv('/content/drive/MyDrive/기쁨코인/dataset/버스붕붕.zip (Unzipped Files)/주중-주말-승하차객/BUS_filte_2017.csv', 
                    names=['주차', '버스정류장ARS번호', '역명', '승차총승객수', '하차총승객수', 'latitude', 'longitude', '주말 여부']
                    )

# df = pd.concat([df_2015, df_2016, df_2017], axis=0) # 열 방향으로 합치기

# df = df.drop(columns = ['역명']) # 버스 정류장 이름에 중복된 속성이 많아서 쓸 수 없음. 예를들어 "소방소앞" 정류장은 4개나 있어요. 

# 승하차 인원은 주말 여부에 따라 다를 것 같아서 따로 취급합니다.

In [ ]:
df = df_2015

In [ ]:
# 평일과 주말을 같이 데이터프레임에 넣으려면 평일과 주말 사이에 ARS_list가 동일해야만 합니다. 그래서 확인해보니 동일하지 않았습니다. 
# 2015년을 보니 ARS가 {18688}인 경우는 평일만 정차합니다.
# 2017년을 보니 ARS가 {1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023}인 버스정류장은 주말에만 정차합니다.
# 아래 코드에서 A-B가 {1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023}입니다.
# B-A는 공집합입니다.

ARS_list_1 = df[df['주말 여부']==True]['버스정류장ARS번호'].unique()
ARS_list_2 = df[df['주말 여부']==False]['버스정류장ARS번호'].unique()

A = set(ARS_list_1)  
B = set(ARS_list_2)

print(A-B)
print(B-A)

set()
{18688}

In [ ]:
df[df['버스정류장ARS번호']==18688]
# 주차를 보니 2015년 중간에 새로 생긴 것 같습니다.

         주차  버스정류장ARS번호   역명  승차총승객수  하차총승객수   latitude   longitude  주말 여부
531276   27       18688  교학사       3      12  37.468468  126.886871  False
551132   28       18688  교학사      22      24  37.468468  126.886871  False
570146   29       18688  교학사      16      42  37.468468  126.886871  False
588178   30       18688  교학사      22      47  37.468468  126.886871  False
610548   31       18688  교학사      20      56  37.468468  126.886871  False
627538   32       18688  교학사      16      31  37.468468  126.886871  False
650575   33       18688  교학사      13      44  37.468468  126.886871  False
670260   34       18688  교학사      26      52  37.468468  126.886871  False
689406   35       18688  교학사      25      64  37.468468  126.886871  False
712984   36       18688  교학사      30      66  37.468468  126.886871  False
732072   37       18688  교학사      28      72  37.468468  126.886871  False
752294   38       18688  교학사      38      60  37.468468  126.886871  False
766467   39       18688  교학사      20      57  37.468468  126.886871  False
794377   40       18688  교학사      18      34  37.468468  126.886871  False
811326   41       18688  교학사      23      57  37.468468  126.886871  False
828445   42       18688  교학사      35      93  37.468468  126.886871  False
854780   43       18688  교학사      39      70  37.468468  126.886871  False
872943   44       18688  교학사      34      80  37.468468  126.886871  False
892831   45       18688  교학사      36      72  37.468468  126.886871  False
913855   46       18688  교학사      26      87  37.468468  126.886871  False
934038   47       18688  교학사      55      74  37.468468  126.886871  False
954173   48       18688  교학사      43      75  37.468468  126.886871  False
969357   49       18688  교학사      54      79  37.468468  126.886871  False
996523   50       18688  교학사      50      80  37.468468  126.886871  False
1015240  51       18688  교학사      72      74  37.468468  126.886871  False
1030458  52       18688  교학사      53      82  37.468468  126.886871  False
1057282  53       18688  교학사      26      51  37.468468  126.886871  False

In [ ]:
#주말에만 버스가 정차하는 버스 정류장에 대해
#우리는 "주말여부==False로 해놓고, 총 승객수를 0, 나머지 정보는 그대로 갖는 행을 추가하겠습니다. 
# 또한 우리는 지금 각 주마다의 평균값만 계산할 것이기 때문에, 승객수=0인 행에 대해 1주~52주까지 모든 주차를 넣을 필요는 없습니다.

wkd = list(A-B)

for ARS in wkd:
    idx = df[df['버스정류장ARS번호']==ARS].index[0]
    name = df[df['버스정류장ARS번호']==ARS].loc[idx, '역명']
    latitude = df[df['버스정류장ARS번호']==ARS].loc[idx, 'latitude']
    longitude = df[df['버스정류장ARS번호']==ARS].loc[idx, 'longitude']
    df.loc[len(df)] = [0, ARS, name, 0, 0, latitude, longitude, False]

df.tail(20)

,주차,버스정류장ARS번호,역명,승차총승객수,하차총승객수,latitude,longitude,주말 여부
1078830,52,1017,종로4가.종묘,1232,1444,37.570417,126.994729,True
1078831,52,1019,종로5가.광장시장,2236,2363,37.570716,126.998853,True
1078832,52,1021,종로6가.동대문종합시장,1273,916,37.570918,127.003469,True
1078833,52,16156,영인운수차고지,2,0,37.545262,126.817270,True
1078834,52,14137,난지천공원,1,0,37.574199,126.886274,True
3223932,0,1009,광화문,0,0,37.570043,126.974484,False
3223933,0,1010,광화문,0,0,37.570296,126.978091,False
3223934,0,1011,종로1가,0,0,37.570072,126.980917,False
3223935,0,1012,종로1가,0,0,37.570267,126.981391,False
3223936,0,1013,종로2가,0,0,37.570087,126.985541,False
3223937,0,1014,종로2가,0,0,37.570268,126.986254,False
3223938,0,1015,종로4가.탑골공원,0,0,37.570181,126.989422,False
3223939,0,1016,종로4가.탑골공원,0,0,37.570389,126.989968,False
3223940,0,1017,종로4가.종묘,0,0,37.570417,126.994729,False
3223941,0,1018,종로4가.종묘,0,0,37.570600,126.995277,False
3223942,0,1019,종로5가.광장시장,0,0,37.570716,126.998853,False
3223943,0,1020,종로5가.광장시장,0,0,37.570908,126.999320,False
3223944,0,1021,종로6가.동대문종합시장,0,0,37.570918,127.003469,False
3223945,0,1022,종로6가.동대문종합시장,0,0,37.571152,127.005709,False
3223946,0,1023,동대문역.흥인지문,0,0,37.572280,127.013462,False

In [ ]:
# 이제 다시 주말과 평일로 나눕니다.

# 주말
df_weekend = df[df['주말 여부']==True]
ARS_list_1 = df_weekend['버스정류장ARS번호'].unique() # ARS 코드 리스트

# 평일
df_not_weekend = df[df['주말 여부']==False]
ARS_list_2 = df_not_weekend['버스정류장ARS번호'].unique() # ARS 코드 리스트

# 평균값을 기록하기 위한 데이터 프레임
df_mean = pd.DataFrame(columns=['버스정류장ARS번호', '평일 승차 수 평균', '평일 하차 수 평균', '주말 승차 수 평균', '주말 하차 수 평균', 'longitude', 'latitude'])

In [ ]:
set(ARS_list_1) == set(ARS_list_2)

True

In [ ]:
# 따라서 아까 주말과 평일 간 버스 정류장 사이의 불일치 문제를 해결하였습니다. 
# 이제 데이터프레임에 평균값을 기록합니다.

# 평균값 기록
for i, ARS in enumerate(ARS_list_1): 
    wkd_get_in = df_weekend[df_weekend['버스정류장ARS번호']==ARS]['승차총승객수'].mean() # 3개년도 각 주 주말 승차 총 승객수 평균값
    wkd_get_off = df_weekend[df_weekend['버스정류장ARS번호']==ARS]['하차총승객수'].mean() # 3개년도 각 주 주말 간 하차 총 승객수 평균값
    not_wkd_get_in = df_not_weekend[df_not_weekend['버스정류장ARS번호']==ARS]['승차총승객수'].mean()
    not_wkd_get_off = df_not_weekend[df_not_weekend['버스정류장ARS번호']==ARS]['하차총승객수'].mean()
    longitude = np.float64(df_weekend[df_weekend['버스정류장ARS번호']==ARS]['longitude'].unique()) # 버스 정류장의 longitude
    latitude = np.float64(df_weekend[df_weekend['버스정류장ARS번호']==ARS]['latitude'].unique()) # 버스 정류장의 latitude
    df_mean.loc[i, ['버스정류장ARS번호', 
                    '평일 승차 수 평균', 
                    '평일 하차 수 평균', 
                    '주말 승차 수 평균', 
                    '주말 하차 수 평균', 
                    'longitude', 'latitude']] = ARS, not_wkd_get_in, not_wkd_get_off, wkd_get_in, wkd_get_off, longitude, latitude
    print(i, ARS, "has been done")

# df_mean.to_csv("/content/drive/MyDrive/기쁨코인/dataset/X_attributes_final/BUS/2015-2017버스승하차인원.csv") # csv로 내보내기

In [ ]:
df[df['버스정류장ARS번호']==14137]['longitude']

551616     126.886274
568637     126.886274
592056     126.886274
613345     126.886274
630232     126.886274
              ...
998494     126.886274
1025043    126.886274
1047450    126.886274
1067714    126.886274
1078834    126.886274
Name: longitude, Length: 76, dtype: float64

In [ ]:
df_mean

,버스정류장ARS번호,평일 승차 수 평균,평일 하차 수 평균,주말 승차 수 평균,주말 하차 수 평균,longitude,latitude
0,11269,2932.778481,1244.550633,784.77707,302.700637,127.058272,37.662152
1,21916,36799.246835,32586.012658,10723.025478,9060.292994,126.92902,37.484055
2,17190,861.810127,5169.126582,204.630573,1179.815287,126.8295,37.496839
3,11267,3814.367089,2154.202532,1049.751592,554.528662,127.056721,37.668317
4,18129,1761.291139,77.810127,475.923567,24.146497,126.887041,37.461346
...,...,...,...,...,...,...,...
10457,1013,0.0,0.0,2848.0,2401.0,126.985541,37.570087
10458,1015,0.0,0.0,4112.0,1775.0,126.989422,37.570181
10459,1017,0.0,0.0,1232.0,1444.0,126.994729,37.570417
10460,1019,0.0,0.0,2236.0,2363.0,126.998853,37.570716
10461,1021,0.0,0.0,1273.0,916.0,127.003469,37.570918

In [ ]:
df_mean.to_csv("/content/drive/MyDrive/기쁨코인/dataset/X_attributes_final/BUS/2015-2017버스승하차인원최종.csv") # csv로 내보내기